AIRFLOW_UID=50000
AIRFLOW_USERNAME=airflow
AIRFLOW_PASSWORD=airflow
FERNET_KEY=cl_7b3p_766m8_7b3p_766m8_7b3p_766m8_7b3p_766m8= #example

POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=password

AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key_id 
AWS_DEFAULT_REGION=us-east-1
AWS_ENDPOINT=https://minio:9000 #minio hostname in the docker network 

LANDING_BUCKET=landing
BRONZE_BUCKET=bronze
SILVER_BUCKET=silver

#Airflow Connections

#aws_conn - the connection to the self-hosted S3 (MinIO). If you are using
#Amazon S3, the "endpoint_url" should be deleted.

AIRFLOW_CONN_AWS_CONN='{
    "conn_type": "aws",
    "login": "your AWS_ACCESS_KEY_ID",
    "password": "your AWS_SECRET_ACCESS_KEY",
    "extra": {
        "endpoint_url": "your AWS_ENDPOINT",
        "addressing_style": "path",
        "region_name": "your AWS_DEFAULT_REGION"
    }
}'

#aws_anonymous_conn is used for sources with open access.

AIRFLOW_CONN_AWS_ANONYMOUS_CONN='{
    "conn_type": "aws",
    "extra": {
        "config_kwargs": {
            "signature_version": "unsigned"
        }
    }
}'

AIRFLOW_CONN_SMTP_DEFAULT = '{
    "conn_type": "smtp",
    "host": "smtp.gmail.com",
    "login": "your_smtp_user",
    "password": "your_smtp_password",
    "port": 587
}'